<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315653337697-9vr6el0lf95k2rbluq0md7dst449igfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315653337697-9vr6el0lf95k2rbluq0md7dst449igfc</string>
	<key>API_KEY</key>
	<string>AIzaSyBBmUNg2ZjnlxsLCYjyapCjQuFLZKAh32Q</string>
	<key>GCM_SENDER_ID</key>
	<string>315653337697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.activityTracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>activity-tracker-8a456</string>
	<key>STORAGE_BUCKET</key>
	<string>activity-tracker-8a456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315653337697:ios:d9dbf4b2830bf406cc7020</string>
</dict>
</plist>